# Mubarokah ID OAuth Configuration
MUBAROKAH_CLIENT_ID=your_client_id_here
MUBAROKAH_CLIENT_SECRET=your_client_secret_here
MUBAROKAH_REDIRECT_URI=http://localhost:3090/auth/callback
MUBAROKAH_BASE_URL=https://accounts.mubarokah.com
MUBAROKAH_SCOPES=view-user detail-user
# DEFAULT SCOPE ONLY= view-user
# MAKE SURE THAT YOU HAVE GET PERMISSION ON MUBAROKAH ID

# Express App Configuration
PORT=3090
SESSION_SECRET=your_session_secret_here
